.container{
    width: 20%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.brand{
    font-size: 1.5vw;
}

.newChatBtn{
    width: 90%;
    padding: 1vw;
    background-color: #000;
    border-style: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1.5vw;
}
